{% extends "songs/base_menu.html" %}
{% block content %}
  <head>
    <meta charset="utf-8" />
    <title>Songs: Analyze Keys</title>
  </head>
  <body>
    <form>
      <input type="text" placeholder="Search..." name="search"
      {% if search %} value="{{ search }}" {% endif %}
      >
      <button type="submit"><i class="fa fa-search"></i></button>
    <a href="{% url 'songs:album_options_from_search_name' %}"><i class="fa fa-undo"></i></a>
    </form>
    <h1>Analysis for <b>{{ album_and_artist }}</b><br></h1>
    <p><img
      class="chosen_album_cover"
      src={{ album_art_link }}
      alt="Image for "{{ album_and_artist }}
      style="width:10vw;height:10vw;border-radius:5%;box-shadow: 0.25vw 0.25vw 0.5vw 0.1vw rgba(0,0,0,.8);"
      >
    {% autoescape off %}
    {% for plot in plots %}
      {{ plot }}
    {% endfor %}
    {% endautoescape %}
    <h2></h2>
    </p>
    </div>
      </div>
    </body>
{% endblock %}