{% extends "base_bootstrap.html" %}
{% load static %}
{% block navbar %}
{% comment %} {% load app_tags %} {% endcomment %}
<nav class="navbar navbar-default navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">{{ settings.APP_NAME }}</a>
    </div>
    <!-- https://stackoverflow.com/questions/22047251/django-dynamically-get-view-url-and-check-if-its-the-current-page -->
    <ul class="nav navbar-nav">
      {% url 'songs' as songs %}
    <li {% if request.get_full_path == songs %}class="active"{% endif %}>
        <img
        {% comment %} class="img-fluid img-profile rounded-circle mx-auto mb-2" {% endcomment %}
        src="{% static 'AlbumAnalyzer.jpg' %}"
        alt="AlbumAnalyzer Logo"
        style="width:50px;height:50px;border-radius:5%;box-shadow: 2px 52x 4px 1px rgba(0,0,0,.8);"
        >
    </li>
    {% comment %} <li {% if request.get_full_path == songs %}class="active"{% endif %}>
        <a href="{% url 'songs:all' %}">Songs</a>
    </li> {% endcomment %}
    {% comment %} <li {% if request.get_full_path == songs %}class="active"{% endif %}>
        <a class="nav-link-songsapp" href="{% url 'songs:track_options_from_search_name' %}">Add a Song from the Spotify API</a>
    </li> {% endcomment %}
    {% comment %} <li {% if request.get_full_path == songs %}class="active"{% endif %}>
        <a href="{% url 'songs:song_create' %}">Add a Song Manually</a>
    </li> {% endcomment %}
    {% comment %} <li {% if request.get_full_path == songs %}class="active"{% endif %}>
        <a href="{% url 'songs:song_analyze_name' %}">Analyze Song Danceability</a>
    </li> {% endcomment %}
    <li {% if request.get_full_path == songs %}class="active"{% endif %}>
        <a href="{% url 'songs:about_name' %}">About</a>
    </li>
    <li {% if request.get_full_path == songs %}class="active"{% endif %}>
        <a href="{% url 'songs:interactive_python_concept_name' %}">Post/Redirect/Get Demo</a>
    </li>
    <li {% if request.get_full_path == songs %}class="active"{% endif %}>
        <a href="{% url 'home' %}">View Portfolio</a>
    </li>
    {% comment %} <li {% if request.get_full_path == songs %}class="active"{% endif %}>
        <a href="{% url 'songs:song_topic_modeling' %}">Analyze Song Lyrics</a>
    </li> {% endcomment %}
    </ul>
    <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
        {% comment %} <li>
        <a href="{% url 'songs:song_create' %}">Create Song</a>
        </li> {% endcomment %}
        <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                {% comment %} <img style="width: 25px;" src="{{ user|gravatar:60 }}"/> {% endcomment %}
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'logout' %}?next={% url 'songs:all' %}">Logout</a></li>
            </ul>
        </li>
        {% else %}
        <li>
        <a href="{% url 'login' %}?next={% url 'songs:all' %}">Login</a>
        </li>
        {% endif %}
    </ul>
  </div>
</nav>
{% endblock %}