{% extends "base_bootstrap.html" %} {% block content %}
<h1>Song List</h1>
<br />
<a href="{% url 'songs:audio_features' %}">Search for a Song</a>
<br />
<br />
<a href="{% url 'songs:song_analyze' %}">Analyze Song Danceability</a>
<br />
<br />
<a href="{% url 'songs:song_analyze_keys' %}">Analyze Song Keys</a>
<br />
<br />
{% if song_list %}
<ul>
  {% for song in song_list %}
  <li>
    {{ song.name }} (<a href="{% url 'songs:song_update' song.id %}">Update</a>
    | <a href="{% url 'songs:song_delete' song.id %}">Delete</a>) <br />
  </li>
  {% endfor %}
</ul>
{% else %}
<p>There are no songs in the library.</p>
{% endif %}
<p>
  <a href="{% url 'songs:song_create' %}">Add a song</a>
</p>
{% endblock %}
